// Navigation code here
.main-navigation {
    width: 100%;
    height: 4rem;;
    background: @lighter-green;
    opacity: 0.8;

    .nav-container {
        height: 100%;
        .center;
        flex-flow: column nowrap;
        }

        .nav {
        width: 380px;
        display: flex;
        justify-content: space-around;
        justify-items: flex-end;
        margin-top: 1.9rem;
        }

        a {
            font-size: 1.6rem;
            color: @content-font-color;
            text-decoration: none;
        }
        
}