@import url('https://fonts.googleapis.com/css?family=Roboto');
@default-font: 'Roboto', sans-serif;
@content-font-color: #282B2D;
@background-color: #EEF1E3;
@lighter-background: #fff;
@lighter-green: #67AB4C;


@btnbc: #67AB4C;
@btncolor: #282B2D;
@hoverbc: #282B2D;
@hovercolor: #67AB4C;

// Media Queries
@tablet: ~"(min-width: 800px)";
@desktop: ~"(min-width: 1000px)";